fastapi[standard]
# uvicorn==0.24.0
sqlmodel>=0.0.14
pydantic>=2.5.2
pydantic-settings>=2.0.0
alembic>=1.12.0
python-multipart
python-jose
passlib
bcrypt
psycopg2-binary
jinja2
email-validator
python-dotenv
httpx